<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest" xmlns:m2="http://schemas.microsoft.com/appx/2013/manifest" xmlns:m3="http://schemas.microsoft.com/appx/2014/manifest" xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest">
  <Identity Name="aeb92d83-58ba-4b83-ae64-b5d5185b9584" Publisher="CN=Евгений" Version="1.0.0.0" />
  <mp:PhoneIdentity PhoneProductId="aeb92d83-58ba-4b83-ae64-b5d5185b9584" PhonePublisherId="00000000-0000-0000-0000-000000000000" />
  <Properties>
    <DisplayName>VideoApp</DisplayName>
    <PublisherDisplayName>Евгений</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.3.1</OSMinVersion>
    <OSMaxVersionTested>6.3.1</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="VideoApp.App">
      <Extensions>
        <Extension Category="windows.fileOpenPicker">
          <FileOpenPicker>
            <SupportedFileTypes>
              <FileType>.jpg</FileType>
              <FileType>.mp4</FileType>
              <FileType>.txt</FileType>
            </SupportedFileTypes>
          </FileOpenPicker>
        </Extension>
        <Extension Category="windows.fileSavePicker">
          <FileSavePicker>
            <SupportedFileTypes>
              <FileType>.jpg</FileType>
              <FileType>.mp4</FileType>
              <FileType>.txt</FileType>
            </SupportedFileTypes>
          </FileSavePicker>
        </Extension>
      </Extensions>
      <m3:VisualElements DisplayName="VideoApp" Square150x150Logo="Assets\Logo.png" Square44x44Logo="Assets\SmallLogo.png" Description="VideoApp" ForegroundText="light" BackgroundColor="transparent">
        <m3:DefaultTile Wide310x150Logo="Assets\WideLogo.png" Square71x71Logo="Assets\Square71x71Logo.png">
        </m3:DefaultTile>
        <m3:SplashScreen Image="Assets\4.jpg" />
        <m3:InitialRotationPreference>
          <m3:Rotation Preference="portrait" />
        </m3:InitialRotationPreference>
      </m3:VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClientServer" />
    <Capability Name="videosLibrary" />
    <Capability Name="removableStorage" />
    <Capability Name="picturesLibrary" />
    <Capability Name="musicLibrary" />
  </Capabilities>
</Package>